<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
        <style>
            div {
                background-color: lightcoral;
            }
            
            #d1 {
                background-color: tomato;
            }
        </style>
    </head>
    <body>
        <div id="d1"><h1><a href="">Welcome To MyBlog</a></h1></div>
        {% for post in posts %}
            <div>
                <h2><a href="#">{{post.title}}</a></h2>
                <p>{{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>